@import "./shared/mixin.scss";

body {
  font-family: "NEXON Lv2 Gothic";
  padding: 0;
  background-image: url("/public/Img/mainbackground.jpg");
  background-size: cover;
  background-attachment: fixed;

  @include mobile {
    font-family: "NEXON Lv2 Gothic";
    padding: 0;
    background-image: url("/public/Img/mobilebg.jpg");
    padding: 0 10px 0 10px;
  }
}

/* Font */
@import url("https://fonts.cdnfonts.com/css/snowstorm");

@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
